# Fast Charge
type sysfs_fastcharge, fs_type, sysfs_type;

# Kcal
type kcal_dev, sysfs_type, fs_type;

# Touch Sampling
type sysfs_htsr, sysfs_type, fs_type;
