# Fast Charge
allow system_app sysfs_fastcharge:file rw_file_perms;

# FPS Info
allow system_app vendor_sysfs_graphics:file { getattr open read };

# kcal
allow system_app kcal_dev:dir search;
allow system_app kcal_dev:file rw_file_perms;

get_prop(system_app, vendor_default_prop)

# lcd
set_prop(system_app, persist_lcd_prop)

# Thermal Profiles
allow system_app sysfs_thermal:file w_file_perms;
allow system_app sysfs_thermal:file rw_file_perms;

# Touch profiles
allow system_app proc_nvt_feature:file rw_file_perms;

# Touch Sampling
allow system_app sysfs_htsr:file rw_file_perms;
